%h3 Home
= current_user.name

%br
Amount:
%b=current_user.amount

%br
=link_to "New income", new_user_income_path(current_user)
%br
=link_to "New expense", new_user_expense_path(current_user)

%br
=link_to "Categories", user_categories_path(current_user)