%h1 Listing categories

%table.table.table-striped
  %tr
    %th Name
    %th Actions

  - @categories.each do |category|
    %tr
      %td= category.name
      %td
        = show_button(user_category_path(category.user, category)) + edit_button(edit_user_category_path(category.user, category)) + destroy_button(user_category_path(category.user, category))

%br

= new_button new_user_category_path(@user)
