%h1 Editing transaction

= render 'form', :transaction => @transaction, :account => @account

= link_to 'Show', account_transaction_path(@transaction)
\|
= link_to 'Back', account_transactions_path(@account)
